$primary-color: #cc2d78;
$button-color: #ed1861;
$footer-color: #323438;
$text-color: #3c4858;
$light-text: #9ba3ac;
$light-grey: #d7d7d7;
$white: #fff;
$font-family: "Montserrat", sans-serif;
$spacing: 1.5rem;

.hero-container {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../../assets/clouds-bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;

  h1 {
    font-size: 4rem;
    color: $white;
    margin: 0 0 1rem;
  }

  p {
    font-size: 1.25rem;
    color: $white;
    margin: 0 0 2rem;
    max-width: 600px;
    font-weight: light;
  }

  .btn {
    background-color: $button-color;
    color: $white;
    padding: 0.75rem 1.5rem;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-weight: lighter;

    &:hover,
    &:focus {
      background-color: darken($button-color, 10%);
    }
  }
}
