$primary-color: #d52f77;
$button-color: #ed1861;
$footer-color: #323438;
$text-color: #3c4858;
$light-grey: #9ba3ac;
$lighter-grey: #d7d7d7;
$white: #fff;
$font-family: sans-serif;

@mixin shadowed-container {
  width: 95%;
  margin: -4rem auto 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.1), 8px 0 20px rgba(0, 0, 0, 0.1),
    0 -8px 15px rgba(0, 0, 0, 0.08);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

body.parent {
  background-color: $lighter-grey;
  font-family: $font-family;
  line-height: 1.9;

  .parent-hero {
    background: linear-gradient(to right, #b12181, #df3372);
    height: 50vh;
    color: $white;
    display: flex;
    justify-content: center;

    h1 {
      font-size: 2.3rem;
      margin-top: 8%;
      font-family: "Montserrat";
      font-weight: 600;
    }
  }
  .parent-content {
    @include shadowed-container;

    .content-wrapper {
      padding-top: 4.5rem;
      padding-left: 15rem;
      padding-right: 17rem;

      p {
        font-size: 1.15rem;
      }

      img {
        border-radius: 50%;
        height: 5rem;
      }
    }
  }
}
